// Place all the styles related to the museums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.center{
  margin: 0 auto;
  text-align: center;
}

div.right{
  text-align: right;
}

.m1 {
  margin: 1em
}